<h1 class="title"">
    All Assets Info
</h1>
<%# Tabular Display%>
<div style=" width: 100%;">
    <table class="table">
        <thead>
            <tr>
                <th>LandID</th>
                <th>Owner</th>
                <th>Address</th>
                <th>LandSize</th>
                <th>Price</th>
                <th>Date</th>
                <th>Type</th>
                <th>Documents</th>
            </tr>
        </thead>

        <tbody>

            <%k=0%>
                <%for(var i=0; i < (values.length/8); i++){%>
                    <tr>
                        <td>
                            <%=values[1 + k]%>
                        </td>
                        <td>
                            <%=values[3 + k]%>
                        </td>
                        <td>
                            <%=values[0 + k]%>
                        </td>
                        <td>
                            <%=values[2 + k]%> feetSquare
                        </td>
                        <td>
                            <%=values[4 + k]%> Rupees
                        </td>
                        <td>
                            <%=values[5 + k]%>
                        </td>
                        <td>
                            <%=values[6 + k]%>
                        </td>
                        <td>
                            <%=values[7 + k]%>
                        </td>
                    </tr>
                    <%k=k+8%>
                        <%}%>
        </tbody>

    </table>
    </div>